@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', cursive, 'Kaushan Script', 'Sriracha', 'Patrick Hand';
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

h1 {
  margin: 32px 0;
  text-align: center;
  color: black;
  font-family: 'Kaushan Script';
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid black;
  outline: none;
  width: 250px;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: black;
}

.todo-button {
  padding: 15px 16px;
  margin-left: 5px;
  border: none;
  border-radius: 4px 4px ;
  cursor: pointer;
  outline: none;
  background-color: rgb(74, 144, 202);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  padding: 18px;
  border-radius: 5px;
  font-family: 'Patrick Hand';
  font-size: large;

}

@media only screen and (min-width:640px) {
 .todo-row {
   /* mobile */
  width: 50%;
 }
}

@media only screen and (min-width:768px) {
 .todo-row {
   /* tablet */
  width: 42%;
 }
}

@media only screen and (min-width:1024px) {
  .todo-row {
    /* laptop */
   width: 27%;
  }
 }


.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: black;
}

.edit-icon {
  color: black;
}
